<!-- here the main html file is created -->
<div class="container">
  <h1>To-Do List Creator</h1>
  <!-- Here we use typescript that creates a from where you enter the text and adds to the 
  the to-do list -->
  <form class="todo-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div>
      <!-- Creating the input field which calls the ngModel typescript function which add the input 
      to the to-do list -->
      <input type="text" id="title" name="title" ngModel>
      <!-- After the text has been entered and the add button pressed the to-do is added -->
      <button type="submit" class="btn-floating waves-effect waves-light green"><i
          class="material-icons">add</i></button>
    </div>
  </form>

  <!-- This part of the html deals with the checking of the to-do and deleting it if completed  -->
  <ul class="todo-list">
    <!-- Here we can recieve every to-do that is obtained 
      from the form by running a loop and adding it to the list.  -->
    <li *ngFor="let todo of todos">
      <!-- Here we check if the to-do is not complete we give the option of checking it else we delete it -->
      <div *ngIf="!this.todo.complete">
        <div>{{this.todo.title}}</div>
        <div>
          <button (click)="onComplete(this.todo.id)" class="btn-floating waves-effect waves-light orange"><i
              class="material-icons">check</i></button>
          <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light red"><i
              class="material-icons">delete</i></button>
        </div>
      </div>
    </li>

        <h3 style="color: rgba(255, 0, 157, 0.959);">Completed List</h3>
        <br>
        <li *ngFor="let todo of todos">
          <!-- Here is the to-do is checked complete it is moved to the to-do complete portion where it can only be deleted -->
          <div *ngIf="this.todo.complete">
            <div>{{this.todo.title}}</div>
            <div>
              <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light red"><i
                  class="material-icons">delete</i></button>
            </div>
          </div>
        </li>
        </ul>
        </div>