/* creating the basic css layout and adding to the app.component.html file */

.container{
    padding: 3% 10%;
    margin: 0 auto;
    text-align: center;
}

.todo-list> li>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-list >li{
    margin-top: 5px;
}

.todo-list button{
    margin-left: 5px;
}