<br>
<br>
<br>
<br>
<br>
<div class="parent-container">
  <div class="child-container">
    <h1>You have reached the Recipe Search page</h1>
    <h2>Get your tastebuds checked out here</h2>
    <br>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com"/>
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5">Submit</button>
      </div>
    </form>
  </div>
</div>
