.image{
  color: bisque;
  height:60em; background-size:cover; width:100%;
  background-image:url('https://t4.ftcdn.net/jpg/02/44/69/87/360_F_244698725_uWdUNY1oiaHthwcb1NK6IqtPuRNKHor2.jpg');
  background-position:50% 50%;
}
